
.addnewUser {
  color: white;
}

.users-container {
    display: flex;
    flex-wrap: wrap;
   
  }

  
  .user-box {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 500px; // Passe die Breite nach Bedarf an
    background-color: lightseagreen;
    border-radius: 40px;
    color: white;

    .status-circle {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: lightseagreen; // Standardfarbe für offline
      }
    
      .online {
        background-color: limegreen; // Farbe für online
      }

      .offline {
        background-color: red;
      }
  }

  .delete {
    color: white;
    background-color: #f44336;
    height: 40px;

    &:hover {
        background-color: #d32f2f;
    }
  }

  .edit {
    color: white;
    background-color: #ffa726;
    height: 40px;

    &:hover {
        background-color: #f57c00;
    }
  }
  