/* Füge dies zu deiner Bewertungen.scss hinzu */
.custom-select {
    width: 500px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    appearance: none;
   
    background-size: 20px;
    cursor: pointer;
  }
  
  .custom-select:hover {
    border-color: #888;
  }
  
  .custom-select:focus {
    outline: none;
    border-color: #555;
  }
  