.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title{
  font-size: 20px;
}

.category-box {
  width: 200px; /* Beispielbreite, ändere dies entsprechend deinen Anforderungen */
  height: 150px; /* Beispielhöhe, ändere dies entsprechend deinen Anforderungen */
  margin: 5px;
  background-color: #007bff;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

button {

  font-size: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px; /* Füge Abstand zwischen den Buttons hinzu */

  &:hover {
      background-color: #0056b3;
  }
}

a {
  color: white;
  text-decoration: none;
}

input {
  height: 45px;
  width: 200px;
  border-radius: 25px;
  font-size: 15px;
  padding-left: 15px;
}

.warning-box {
  background-color: red;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
