.hello-message {
  margin-left: 20px;
}


.updates-container {
  max-width: 200px;
  margin-left: auto;
  margin-right: 30px;
}

.updates {
  /* Add any additional styles for the updates container if needed */
}

.box {
  height: 100px;
}
