.hello-message {
  margin-left: 20px;
}


.updates-container {
  max-width: 200px;
  margin-left: auto;
  margin-right: 30px;
}

.updates {
  /* Add any additional styles for the updates container if needed */
}

.box {
  height: 100px;
}

.muster-text {
  margin-left: 20px; /* Passen Sie den Abstand nach Bedarf an */
  font-style: italic; /* Optional: Kursivstil für den Muster-Text */
  color: #555; /* Optional: Farbe für den Muster-Text */
  max-width: 800px;
}

.welcome-container {
  background-color: rgb(159, 159, 159);
  width: 500px;
  border-radius: 20px;
  padding: 10px;
}

.updates-container {
  background-color: rgb(159, 159, 159);
  border-radius: 20px;
  padding: 10px;
}
