// Mainsite.scss

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.welcome-container, .feedback-container, .team-container, .updates-container {
  background-color: #40c4ff;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.hello-message {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.feedback-container {
  width: 100%;
  text-align: center;

  h3 {
    margin-bottom: 15px;
  }
}

.react-stars {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  i {
    font-size: 1.5em;
    margin: 0 2px;
    color: #ffd700;
  }
}

.team-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

.profilbild {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.updates-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #ffd700;
}

.update {
  background-color: #80d8ff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;

  p {
    margin: 0;
    color: #fff;
  }
}
