
  
  img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  
  .eye-icon {
    margin-left: -30px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s;
  }
  
  .eye-icon:hover {
    color: #333;
  }
  