.navbar {
  height: 100px;
  background-color: #007bff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    display: flex;
    align-items: center;
    background-color: #0c66b4;
    margin-top: 0;

    img {
      max-height: 100px; /* Höhe auf 100px begrenzen */
    }

    .version-label {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      font-size: 18px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .links {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      padding: 0 20px;
    }

    li a {
      text-decoration: none;
      color: white;
      min-width: 100px; /* Mindestbreite auf 100px setzen */
      min-height: 100px; /* Mindesthöhe auf 100px setzen */
      display: flex;
      align-items: center;
      justify-content: center; /* Horizontal und vertikal zentriert */
    }

    .active {
      background-color: #0056b3; /* Aktiver Tab-Stil */
    }
  }
}
