.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .input-field {
    flex-direction: column; /* Ändern Sie die Richtung auf Spaltenlayout */
    align-items: flex-start; /* Ausrichtung der Elemente nach links */
    margin-bottom: 15px;

    label {
      text-align: left; /* Ändern Sie die Ausrichtung des Labels auf links */
      margin-right: 10px; /* Entfernen Sie den rechten Abstand */
      margin-bottom: 5px; /* Fügen Sie einen Abstand zwischen Label und Input hinzu */
    }

    .select {
      width: 450px;
      font-size: 20px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
    }
    
    input {
      width: 450px; /* Behalten Sie die Breite der Input-Felder bei */
      height: 40px; /* Behalten Sie die Höhe der Input-Felder bei */
      font-size: 16px; /* Behalten Sie die Schriftgröße der Input-Felder bei */
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 17px;
      outline: none;
    }

    button {
      height: 40px;
      font-size: 16px;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-top: 5px; /* Fügen Sie einen oberen Abstand zwischen Input und Button hinzu */

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
