// Settings.scss

.benutzerdaten {
    border-collapse: collapse;
    width: 100%;
  }
  
  .benutzerdaten td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .benutzerdaten tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .benutzerdaten th {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    text-align: left;
  }
  